*{
    padding : 0px;
    margin : 0px;
    box-sizing: border-box;
}

img{
    width: 80px;
    height: 80px;
}
div.contianer{
    background-color: lightpink;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: brown;
}

a:hover{
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
}
